@import 'staticVars.scss';
@import 'reset.scss';

// @font-face { font-family: $fntFce_family; src: $fntFce_url_paths_eot; src: $fntFce_url_paths_fix_all; font-weight: $fntFce_weight; font-style: $fntFce_style; }

#video-container { 
	width: 31.25em; 
	height: 23.75em; 
	margin: 2em auto 0; 
	padding: 2em; 
	background: white; 

	box-shadow: 0 1px 10px #D9D9D9; 
	
}


@import 'MQs.scss'; 