@charset "utf-8";

/*  ========= START RESET ========= */
/* CSS Document */
html { -webkit-text-size-adjust: none; }
html { height: 100%; } 
html { box-sizing: border-box; }

* { box-sizing: inherit; }
*:before { box-sizing: inherit; }
*:after { box-sizing: inherit; }

* { margin: 0px; padding: 0px; }

/* TEXT SELECTION ATTRIBUTES */
::-webkit-selection { 
	color: $col_slctPink_active; 
	background-color: $col_slctBlue_active; 
} 
::-o-selection { 
	color: $col_slctPink_active;
	background-color: $col_slctBlue_active;
} 
::-ms-selection { 
	color: $col_slctPink_active;
	background-color: $col_slctBlue_active;
} 
::-moz-selection { 
	color: $col_slctPink_active;
	background-color: $col_slctBlue_active;
} 
::selection {
	color: $col_slctPink_active;
	background-color: $col_slctBlue_active;
} 

html, :root , * {
	-webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
	
	-webkit-tap-highlight-color: rgba( 144, 75, 48, 0.8 ); 
	/* -webkit-tap-highlight-color:rgba(0,0,0,0);*/ /* prevent tap highlight color / shadow */
	
	-webkit-user-select:text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

html, body, tt, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, code, em, img, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: none; outline: none; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; color: $col_blackProper; background: $col_whiteProper; width:100%; height:100%; }


a { margin: 0; padding: 0; border: none; outline: none; font-size: 100%; vertical-align: baseline; background: transparent; }
ol, ul { list-style: none; }
ins { text-decoration:none; background-color: #FFFF99; color: $col_blackProper; }
blockquote, q { quotes: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: none; max-width: 100%; max-height: 100%; /* width: auto\9; height: auto\9; */ }
mark { background-color: #FFFF99; color: $col_blackProper; font-style: italic; font-weight: bold; }
select, input, textarea, button { font: 99% sans-serif; }
input, select { vertical-align: middle; }
hr { display: block; height: 1px; border: none; border-top: 1px solid #CCCCCC; margin: 1em 0; padding: 0; }
caption, th, td, address, cite, code, dfn, em, strong, var { font-style: normal; font-weight: normal; text-align: left; }
figcaption, pre, code, kbd, samp { font-family: $fnt_Blockquote; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

:focus { outline: none; }
/* :focus { outline: 0; } */ /* text-extrude stuff */
/* :focus { outline: transparent; } */ /* navicon stuff */

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
legend, small, article, aside, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }